<div class="jumbotron text-center">
    <h1>All Places</h1>
</div>

<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Place Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <% for (var place of places) { %>
            <tr>
                <td><%= place.name %></td>
                <td><%= place.description %></td>
                <td>
                    <a href="/places/<%= place.id %>" class="btn btn-sm btn-primary">View</a>
                    <a href="/places/<%= place.id %>/edit" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/places/<%= place.id %>/delete" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>
