<div class="jumbotron text-center">
    <h1>Partes</h1>
</div>

<% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
<% } %>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripciónn</th>
            <th>Fecha</th>
            <th>Cruce</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <% for (var event of events) { %>
            <tr>
                <td><%= event.name %></td>
                <td><%= event.description %></td>
                <td><%= dateformat(event.date, "yyyy-mm-dd") %></td>
                <% if(event.place){ %>
                  <td><%= event.place.name %></td>
                <% }else{ %>
                  <td>Cruce no definido</td>
                 <% } %>
                <td>
                    <a href="/events/<%= event.id %>" class="btn btn-sm btn-primary">Ver</a>
                    <a href="/events/<%= event.id %>/edit" class="btn btn-sm btn-primary">Editar</a>
                </td>
            </tr>
        <% } %>

    </tbody>
</table>
